body{
    background-color:rgb(255, 255, 255);
    margin:0px;
    overflow-x:hidden;
}

header h1{
    letter-spacing:5px;
    text-shadow:0px 10px 10px white;
}

header{
    background-color:black;
    color:white;
    text-align:center;
    font-family:Segoe Script;
    padding:9px;
    width:100%;
    position:relative;
}

#log-in {
    color:white;
    padding:5px;
    position:absolute; 
    right:130px;
    text-align:center;
    bottom:2%;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;
    width:70px;
    cursor:pointer;
    transition:font-size 0.10s ease;
    transition:transform 0.5s ease
}

#home {
    color:white;
    padding:5px;
    position: absolute; 
    right:45px;
    text-align:center;
    bottom:2%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    width:70px;
    cursor:pointer;
    transition:font-size 0.10s ease;
    transition:transform 0.5s ease
}

#log-in:hover{
    border:solid white;
    font-size:16px;
    transform:scale(1.1);
    box-shadow:0px 0px 100px white;
    border-radius:20px;
}

#home:hover{
    border:solid white;
    font-size:16px;
    transform:scale(1.1);
    box-shadow:0px 0px 100px white;
    border-radius:20px;
}

#search {
    width:18%;
    padding:10px;
    margin-right:90%;
}

nav a{
    background-color:white;
    color:black;
    width:100px;
    text-align:center;
    padding:10px;
    text-decoration:none;
    border-radius:30px;
    font-size:15px;
    font-weight:bold;
    display:inline-block;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:5px;
    margin-top:5px;
    transition-duration:0.4Ss;
}

nav a:hover {
    background-color:black;
    color:white;
}

nav{
    background-color:grey;
    margin-bottom:30px;
    padding:16px;
    position:sticky;
    top:0px;
    width:100%; 
    z-index:1;
}

.product{
    background-color:grey;
    border-radius:5px;
    box-shadow: 20px 10px 30px black;
    padding:0px;
    max-height:1000px;
}

.product-grid{
    margin:20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:100px;
    font-size:25px;
    text-align:center;
}

.product img{
    margin-top:5px;
    border:solid;
    height:220px;
    width:200px;
    filter:brightness(1);
}


.product p {
    margin: 3px;
    line-height: 1.2;
    font-size: 18px;
    color:white;
}

.product button{
    border:none;
    padding:10px;
    width:100%;
    cursor: pointer;
    background-color:white;
    color:black;
    font-size:17px;
    font-weight:bold;
    letter-spacing:2px;
}
.product button:hover{
    background-color:black;
    color:white;
}

.product label{
    font-size:15px;
    color:white;
}

.product select{
    width:50px;
    padding:5px;
    margin-bottom:10px;
    border-radius:5px;
    border:1px black;
    font-size:15px;
}

.product input {
    width:30px;
    padding:8px;
    margin-bottom:10px;
    border-radius:5px;
    border:1px black;
    font-size:15px;
}


.text{
    text-align:center;
    font-size:50px;
}

.cartbtn{
    margin-top:15%;
}
.cartbtn a{
    display:block;
    font-size:20px;
    text-decoration:none;
    color:black;
    text-align:center;
    border:solid black;
    background-color:white;
    padding:10px;
    cursor:pointer;
    width:100%;
    letter-spacing:10px;
    font-family:Bodoni MT Black;
}

.cartbtn a:hover{
    background-color:black;
    color:white;
}

.contact a{
    text-decoration:none;
    font-size:20px;
    margin:10px;
    color:black;
}

.contact img{
    width:120px;
    height:120px;
    border-radius:100px;
    margin:10px;
}

h1{
    text-align:center;
    font-size:35px;
}

.us{
    background-color: #f4f4f4;
    padding:15px;
    border-radius: 10px;
    width: 80%;
    margin-left:150px;
    box-shadow: 5px -15px 10px black;
    font-size:20px;
    margin-bottom:15px;
}

.vision{
    background-color: #f4f4f4;
    padding:15px;
    border-radius: 10px;
    width: 80%;
    margin-left:150px;
    box-shadow: 5px -15px 10px black;
    font-size:20px;
    margin-bottom:15px;
}

.mission{
    background-color: #f4f4f4;
    padding:15px;
    border-radius: 10px;
    width: 80%;
    margin-left:150px;
    margin-bottom:15px;
    box-shadow: 5px -10px 10px black;
    font-size:20px;
}

.team {
    text-align:center;
}

.member {
    color:white;
    background-color:grey;
    display:inline-block;
    margin:30px;
    padding:15px;
    border:1px black;
    width:200px;
    border-radius:5px;
}

.member img {
    width: 200px;
    height: 250px;
}

.member a {
    color:black;
}

.map a {
    color:black;
    text-align:center;
    font-size:30px;
}

.map img{
    text-align:center;
    width:50%;
    height:500px;
}

.map {
    text-align:center;
}

.checkout-container a{
    text-decoration:none;
}

.checkout-container h3{
    font-size:20px;
    letter-spacing:5px;
    border-radius:4px;
    width:97%;
    background-color:black;
    color:white;
    margin:0%;
    padding:10px;
    margin-bottom:5px;
}

.checkout-container h2{
    background-color:black;
    color:white;
    padding:15px;
    margin: 0%;
    margin-bottom:5px;
}
.checkout-container{
    background-color:white;
    color:black;
    margin-top:20px;
    border:solid black;
    padding:10px;
    width:40%;
    box-shadow:6px 10px 20px black;
}

.order{
    background-color:white;
    color:black;
    border:solid;
    border-radius:10px;
    box-shadow:0px 0px 10px black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#confirm{
    background-color:white;
    border-radius:5px;
    border:solid black;
    color:black;
    padding:10px;
    font-size:20px;
    letter-spacing:2px;
    font-weight:bolder;
}

#confirm:hover{
    background-color:black;
    color:white;
    border:solid green;
}
